In [1]:
import pandas as pd

In [2]:
titannic_df = pd.read_csv('datasets/titanic_processed.csv')
titannic_df.head()

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S
0,1,2,1,0.83,0,2,29.000,0,0,1
1,1,3,1,29.00,0,0,9.500,0,0,1
2,1,3,1,6.00,0,1,12.475,0,0,1
3,0,1,1,36.00,1,0,78.850,0,0,1
4,0,3,1,4.00,4,2,31.275,0,0,1

In [3]:
titannic_df.shape

(712, 10)

In [4]:
from sklearn.model_selection import train_test_split
X = titannic_df.drop('Survived', axis=1)
Y = titannic_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [5]:
x_train.shape, y_train.shape

((569, 9), (569,))

In [6]:
x_test.shape, y_test.shape

((143, 9), (143,))

In [8]:
from sklearn.linear_model import LogisticRegression
logistic_model = LogisticRegression(penalty='l2', C=1.0, solver='liblinear').fit(x_train, y_train)

In [9]:
y_pred = logistic_model.predict(x_test)

In [11]:
pred_results = pd.DataFrame({'y_test': y_test,
                             'y_pred': y_pred})

In [12]:
pred_results.head(
)

     y_test  y_pred
17        0       0
580       0       0
35        1       1
227       1       1
251       0       0

In [13]:
titanic_crosstab = pd.crosstab(pred_results.y_pred, pred_results.y_test)
titanic_crosstab

y_test   0   1
y_pred
0       77  14
1       11  41

In [14]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score

In [15]:
acc = accuracy_score(y_test, y_pred)
prec = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print('accuracy_score: ', acc)
print('precision_score', prec)
print('recall_score', recall)

accuracy_score:  0.8251748251748252
precision_score 0.7884615384615384
recall_score 0.7454545454545455

 titanic_crosstab[0] means columns 0

In [26]:
TP = titanic_crosstab[1][1]
TN = titanic_crosstab[0][0]
FP = titanic_crosstab[0][1]
FN = titanic_crosstab[1][0]

In [27]:
accuracy_score_verified = (TP + TN) / (TP + TN + FP + FN)
accuracy_score_verified

0.8251748251748252

In [28]:
precision_score_verified = TP / (TP + FP)
precision_score_verified

0.7884615384615384

In [29]:
titanic_crosstab[0], titanic_crosstab[1]

(y_pred
 0    77
 1    11
 Name: 0, dtype: int64,
 y_pred
 0    14
 1    41
 Name: 1, dtype: int64)

In [30]:
recall_score_verifed = TP / (TP + FN)
recall_score_verifed

0.7454545454545455